:root {
  /* Sistema de colores */
  --color-fondo: #e6e6eb;
  --color-tipografia: #000000;
  --color-fondo-post: #f8f8ff;
  --color-footer: #37c6c0;
  --color-hover: #e6e6eb;
  --tipografia-post: "Roboto", sans-serif;
}

body {
  background-color: var(--color-fondo);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.post-principal {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  background-color: var(--color-fondo-post);
  font-family: var(--tipografia-post);
  color: var(--color-tipografia);
  width: 25rem;
  margin: 2rem auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
}
.post-encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
}

.post-encabezado .info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.post-encabezado h5,
.post-encabezado p {
  margin: 0;
  line-height: 1.2;
  font-size: small;
}

.post-imagen img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}


.post-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.post-icons i {
  color: #222;
  cursor: pointer;
  transition: color 0.3s ease;
}

.post-icons i:hover {
  color: var(--color-hover);
}

.left-icons {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.post-body {
  font-size: small;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.footer-personal {
  background-color: var(--color-footer);
  font-family: var(--tipografia-post);
  color: var(--color-fondo-post);
  padding: 1rem 2rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: auto;
}

.footer-personal a {
  color: inherit;
  text-decoration: underline;
}
